/******************************************************************
Stylesheet: Generated Variables

Sass variables generated from theme customizer.

******************************************************************/

/*********************
COLORS
*********************/

$accent-color:          #f285bb;
$accent-color-alt:      #d5386d;
$accent-color-alt-2:    #ffffff;
$accent-color-alt-3:    #ffffff;
$text-color:            #a8a6a6;
$link-color:            #f285bb;

/*********************
BUTTONS
*********************/

$button_text_size:              22px;
$button_text_color:             #ffffff;
$button_bg_color:               #f285bb;
$button_border_width:           2px;
$button_border_color:           #f285bb;
$button_border_radius:          0px;
$button_icon_content:           '\35';
$button_spacing:                0px;
$button_icon_color:             #ffffff;
$button_text_color_hover:       #f285bb;
$button_bg_color_hover:         rgba(0,0,0,0);
$button_border_color_hover:     #f285bb;
$button_border_radius_hover:    0px;
$button_spacing_hover:          0;
$button_icon_size:              35.2px;
$button_icon_placement:         'right';
$button_icon_on_hover:          'yes';
$button_use_icon:               'no';

/*********************
FONTS
*********************/

$font-size:         16px;

.button {
    font-weight: normal; font-style: normal; text-transform: uppercase; text-decoration: none; ;
    font-family: 'Playfair Display', Georgia, "Times New Roman", serif;;
}

